@font-face {
    font-family: hind;
    src: url(../fonts/Hind-Regular.ttf)
}

@font-face {
    font-family: handlee;
    src: url(../fonts/Handlee-Regular.ttf)
}

@font-face {
    font-family: pacifico;
    src: url(../fonts/Pacifico-Regular.ttf)
}

/* base */

* {
    box-sizing: border-box;
}

html,body {
    height: 100%;
    position: relative;
}

body {
    margin: 0;
    font-family: hind, sans-serif;
}

a {
    text-transform: none;
    text-decoration: none;
    color: inherit;
}

/* view helpers */

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.flex-end {
    justify-content: flex-end;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.pointer {
    cursor: pointer;
}

.hidden {
    display: none;
}

.capitalize {
    text-transform: capitalize;
}

.grid {
    display: grid;
}

/* .border {
    border: 1px solid black;
} */

/* style helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* mobile-view */

@media (max-width: 576px) {
    html {
        font-size: 15px;
    }
}