/* base */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-transform: none;
    text-decoration: none;
    color: inherit;
}

/* missMail */

.main-container {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 95vw;
    min-height: 100vh;
    grid-template-columns: 200px auto;
    grid-template-areas: "email-nav-bar email-preview-cont"
}

.header {
    width: 100%;
}

.email-nav-bar {
    height: 50px;
    width: 100px;
    grid-area: email-nav-bar;
    margin-left: 30px;
}

.email-nav-bar:first-child {
    margin-top: 10px;
}

/* eMail filter */

.mail-filter-container *{
    height: 40px;
    margin-bottom: 20px;    
}

/* email preview */

.email-preview-container {
    width: 100%;
    line-height: 30px;
    height: 30px;
    grid-area: email-preview-cont
}

.email-preview-container:first-child {
    margin-top: 10px;
}

.email-list div:nth-child(even) {
    background-color: lightgrey;
}

.email-preview-menu {
    display: none;
}

.preview-check {
    border: 0;
    display: flex;
    line-height: 30px;
}

.edit-menu {
    height: 30px;
}

.show {
    display: flex;
}

.subject {
    padding-left: 10px;
    width: 300px;
}

.received {
    text-align: center;
    width: 100px;
}

.unread {
    font-weight: 700;
}

/* email compose */

.compose-button {
    text-align: center;
    height: 30px;
    line-height: 30px;
    width: 150px;
    border-radius: 20px;
    border: 2px solid black;
    margin-top: 6px;
}

.compose-email-form {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: white;
    height: 400px;
    width: 300px;
    border: 1px solid grey;
}

/* email details */

.nav-buttons-container {
    grid-area: back-btn;
    margin: 0px auto 0px;
    width: 800px;
    height: 50px;
}

.nav-button {
    text-align: center;
    height: 30px;
    line-height: 30px;
    width: 80px;
    border-radius: 20px;
    border: 2px solid black;
    margin-top: 6px;
}

.nav-button:nth-child(2) {
    width: 120px;
}

.nav-button:not(:last-child) {
    margin-right: 20px;
}

/* missKeep */

.note-header {
    margin-bottom: 5px;
}

.logo {
    width: 50px;
}

.note-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}

.note{
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
}

.note img{
    width: 200px;
}

.pinned{
    order: -1;
}

.pinned-img{
    width: 40px;
}



/* view helpers */

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.flex-end {
    justify-content: flex-end;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.pointer {
    cursor: pointer;
}

.hidden {
    display: none;
}

.capitalize {
    text-transform: capitalize;
}

.grid {
    display: grid;
}

.border {
    border: 1px solid black;
}

/* style helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}