/* missMail */

.main-container {
    position: relative;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    min-width: 100%;
    min-height: 80vh;
    background-color: lightsteelblue;
    grid-template-columns: 200px auto;
    grid-template-rows: 70px auto;
    grid-template-areas: "email-search-bar email-search-bar" "email-nav-bar dynamic-comp";
}

.dynamic-comp {
    grid-area: dynamic-comp;
}

.header {
    width: 100%;
}

/* email nav bar */

.email-nav-bar {
    height: 400px;
    width: 180px;
    grid-area: email-nav-bar;
    margin: 10px;
    background-color: lightgrey;
    border-radius: 20px;
}

.inbox-nav-bar:hover, .unread-nav-bar:hover, .important-nav-bar:hover, .sent-nav-bar:hover, .nav-button:hover {
    background-color: black;
    color: lightgrey;
    border-radius: 20px;
}

.compose-button {
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: 150px;
    border-radius: 20px;
    border: 2px solid black;
    margin: 10px;
}

.compose-button:hover {
    background-color: black;
    color: lightgrey;
}

/* eMail search-bar */

.email-search-bar {
    grid-area: email-search-bar;
    height: 70px;
    border-bottom: 5px solid lightgrey;
}

input#search-mail {
    background-image: url(../img/icons/search-14-48.png);
    background-repeat: no-repeat;
    background-size: 1.125rem;
    background-position: 3px 3px;
    text-indent: 25px;
    width: 12.5rem;
    height: 30px;
    margin-right: 25px;
    border-radius: 10px;
    border-color: transparent;
    font-family: inherit;
    outline: none;
}

.search-bar-filter {
    width: 120px;
    height: 30px;
    margin-right: 25px;
    font-family: inherit;
    border-radius: 10px;
    border-color: transparent;
    outline: none;
}

.sort-button {
    text-align: center;
    height: 30px;
    width: 70px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 20px;
    font-family: inherit;
    outline: none;
}

.from-sort {
    margin-left: 20px;
    margin-right: 20px;   
}

.subject-sort {
    margin-right: 20px;
}

.sort-button:hover {
    background-color: black;
    color: lightgrey;
}

/* eMail filter */

.mail-filter-container * {
    height: 40px;
    width: 150px;
    margin: 10px;
    text-align: center;
    line-height: 40px;
}

/* eMail Status Bar */

.my-progress-container {
    padding: 10px;
    border: 10px;
    height: 50px;
    width: 120px;
}

#my-progress {
    width: 100px;
    height: 30px;
    background-color: lightgreen;
    border-radius: 10px;
}

#my-bar {
    height: 30px;
    background-color: rgb(57, 255, 20);
    border-radius: 10px;
}

#my-bar-text {
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 10px;
}

/* email preview */

.email-preview-container {
    width: 100%;
    line-height: 30px;
    height: 30px;
    border: 10px;
}

.email-preview-container:first-child {
    margin-top: 10px;
}

.email-preview-container:hover {
    background-color: lightgoldenrodyellow;
}

.row:nth-child(even):hover {
    background-color: lightgoldenrodyellow;
}

.email-list {
    border: 10px;
}
.row:nth-child(odd) {
    border-radius: 5px;
}

.row:nth-child(even) {
    background-color: lightgrey;
    border-radius: 5px;
}

.preview-check {
    border: 0;
    display: flex;
    line-height: 30px;
}

.from-preview, .to-preview {
    width: 150px;
    padding-left: 10px;
}

.subject-preview {
    padding-left: 10px;
    width: 350px;
}

.received {
    text-align: center;
    width: 100px;
}

.unread {
    font-weight: 700;
}

.icons-container-preview {
    width: 70px;
}

.icon-container {
    width: 30px;
    height: 30px;
    text-align: center;
}

/* email compose */

.compose-email-form {
    position: fixed;
    bottom: 0;
    right: 100px;
    z-index: 1;
    background-color: white;
    height: 500px;
    width: 700px;
    border: 1px solid grey;
}

.message-header {
    height: 30px;
    background-color: slategrey;
    color: lightgrey;
    line-height: 30px;
    padding-left: 10px;
}

.close-button {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.minimize {
    height: 30px;
    border: 2px solid black;
}

.to, .subject-compose {
    font-family: inherit;
    width: inherit;
    padding-left: 10px;
    height: 40px;
    outline: none;
}

.body {
    outline: none;
    resize: none;
    overflow: auto;
    font-family: inherit;
    padding-left: 10px;
    padding-right: 10px;
}

.message-footer {
    height: 70px;
    background-color: slategrey;
    color: lightgrey;
    line-height: 30px;
    padding-right: 10px;
}

.send-button {
    height: 30px;
    width: 100px;
    background-color: lightgrey;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    font-family: inherit;
}

/* email reply */

.reply-container {
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px -10px lightgrey;
}

.to-reply, .subject-reply {
    font-family: inherit;
    width: inherit;
    padding-left: 10px;
    height: 40px;
    outline: none;
    border: none;
}

.to-reply {
    width: 700px;
}

.to-reply-container {
    padding-left: 15px;
    border-bottom: 2px solid lightgrey;
}

.subject-container {
    border-bottom: 2px solid lightgrey;    
}

.subject-reply {
    padding-left: 15px;
    width: 100%;
}

.reply-body {
    outline: none;
    resize: none;
    overflow: auto;
    font-family: inherit;
    padding-left: 10px;
    padding-right: 10px;
    border:none;
    width: 100%;
}

.close-button-reply {
    margin-right: 10px;
    margin-top: 10px;
}

.footer-reply {
    height: 70px;
    background-color: slategrey;
    color: lightgrey;
    line-height: 30px;
    padding-right: 10px;
    border-radius: 0px 0px 20px 20px;
}

/* email details */

.email-details-container {
    min-height: 100vh;
}

.nav-buttons-container {
    grid-area: back-btn;
    margin: 0px auto 0px;
    width: 800px;
    height: 50px;
}

.nav-button {
    text-align: center;
    height: 30px;
    line-height: 30px;
    width: 80px;
    border-radius: 20px;
    border: 2px solid black;
    margin-top: 6px;
}

.nav-button:nth-child(3) {
    width: 120px;
}

.nav-button:not(:last-child) {
    margin-right: 20px;
}

.email-body-details {
    text-align: justify;
    width: 500px;
}