/* missKeep */

/* header */

.note-header {
    height: 70px;
    background-color: lightsteelblue;
}

.logo {
    width: 50px;
    margin-left: 30px;
}

.notes-search {
    background-image: url(../img/icons/search-14-48.png);
    background-repeat: no-repeat;
    background-size: 1.125rem;
    background-position: 3px 3px;
    text-indent: 25px;
    width: 12.5rem;
    height: 30px;
    margin-right: 25px;
    border-radius: 10px;
    border-color: transparent;
    font-family: inherit;
    outline: none;
}

.go {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    height: 30px;
    width: 70px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 20px;
    font-family: inherit;
    outline: none;
}

.notes-search-filter {
    width: 120px;
    height: 30px;
    margin-right: 25px;
    font-family: inherit;
    border-radius: 10px;
    border-color: transparent;
    outline: none;
}

.menuBtn {
    margin-right: 30px;
    text-align: center;
    height: 30px;
    width: 90px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 20px;
    font-family: inherit;
    outline: none;
}

/* input menu */

.input-menu {
    background-color: lightsteelblue;
    padding-bottom: 20px;
    border-bottom: 5px solid lightgray;
}

.input-menu i {
    font-size: 1.5rem;
}

.text-input {
    text-indent: 25px;
    width: 12.5rem;
    height: 30px;
    margin-right: 25px;
    border-radius: 10px;
    border-color: transparent;
    font-family: inherit;
    outline: none;
}

.selected-radio {
    color: lightgray;
}

.add-note {
    margin-left: 30px;
    text-align: center;
    height: 30px;
    width: 60px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 20px;
    font-family: inherit;
    outline: none;
}

.radio {
    margin: 0 1rem;
    cursor: pointer;
}

.note-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
    background-color: lightsteelblue;
}

.note {
    width: fit-content;
    height: fit-content;
    text-align: center;
    padding: 5px;
    border: 2px solid lightgrey;
    border-radius: 20px;
}

.note h1 {
    margin: 0;
    padding-top: 1rem;
    font-size: 1.3rem;
}

.note p {
    margin: 0;
    padding-top: 1rem;
    padding-right: 5px;
}

.note i {
    margin: 0 3px;
}

.note i:hover {
    color: darkgray;
}

.note img {
    width: 200px;
}

.pin {
    position: absolute;
    left: 8px;
    color: darkgray;
}

.pinned {
    order: -1;
    position: relative;
}

.pinned-img {
    width: 40px;
}

.todos-container p {
    display: inline-block;
}

.todos-date {
    font-size: 0.8rem;
    margin-left: 0.2rem;
    color: rgba(0, 0, 0, 0.644)
}

.aliceblue {
    color: aliceblue;
}

.aquamarine {
    color: aquamarine;
}

.coral {
    color: coral;
}

.yellow {
    color: rgb(255, 255, 128);
}

.fa-tint {
    text-shadow: 0 0 3px #000;
}

@media screen and (max-width: 576px) {
    .input-menu {
        flex-direction: column;
        padding-bottom: 1rem;
    }
    .text-input {
        margin-bottom: 1rem;
        width: 80vw;
    }

    .note{
        width: 90vw;
        margin-bottom: 1rem;
    }

    .note img{
        width: 80vw;
    }

    .control-container{
        display: flex;
        justify-content: space-around;
    }
}